<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Dell/IdeaProjects/Testng_assignment">
        <classes>
            <class name="Tests.LambdaTest">
                <methods>
                    <include name="ScreenshotTest"/>
<!--                    <exclude name="SearchTest"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>